.clock-component
  .top
  |               
  .right
  |               
  .bottom
  |               
  .left
  |               
  .center
  |               
  .hour
  |               
  .minute
  |               
  .second