.footer-wrapper
  #footer
    div.row
      .small-12.medium-12.large-12.columns
        section.small-12.medium-12.large-12
          h2 Feedback Is Appreciated!
          p
            |  Lorem ipsum dolor sit amet, ei pri amet eros rebum, et dolor perfecto eloquentiam eos. Vim at posse populo, natum primis posidonium qui no, ex vis natum aeterno tibique.
            |  Eum scaevola menandri platonem ei. Est tale apeirian no, at pro placerat facilisis. Te qui esse homero discere. Ut prompta eligendi qui, sed cibo velit audiam ad, nonumes evertitur vix ne.
        section#feedback-form.row.small-12.medium-7.large-12
          div.small-12.medium-12.large-7.small-centered.columns
            form(name="suggestionsForm")
              div.row
                div.small-12.large-6.medium-12.columns
                  input#contact-name(type="text", name="name-field", placeholder="Name")
                div.small-12.large-6.medium-12.columns
                  input#contact-email(type="email", name="email-field", placeholder="Email")
              div.row
                div.small-12.medium-12.large-12.columns
                  textarea#contact-message(name="message-field", placeholder="Message")
              div.small-12.medium-12.large-12.button-group.clearfix
                a#send-button.small-12.medium-6.large-6.button.right(href="#") Send
                a.small-12.medium-6.large-6.button.secondary.left(href="#") Reset
    .row.display
      hr
      .small-6.small-centered.large-centered.columns
        a.small-3.partners-logo(href="http://www.citizenschools.org", target="_blank")
          img.logo(src='/images/cs-logo.png')
        a.small-3.partners-logo(href="http://www.slalom.com", target="_blank")
          img(src='/images/slalom-logo.png')