#header-wrapper
  a.show-for-medium-down.left-off-canvas-toggle(href="#")
    i#toggle-button(style="padding-left: 5px;").fa.fa-bars.fa-2x
    nav#nav-small.left-off-canvas-menu(role="navigation")
      ul.off-canvas-list
        li.active
          a(href="/") Home
        li
          a(href="/about-us") About Me
        li
          a(href="/sandbox") My Sandbox
  .row.show-for-large-up
    .small-12.medium-12.large-12.columns
      .contain-to-grid
        nav#nav-section.top-bar(role="navigation", data-topbar)
          section.top-bar-section
            ul
              li.medium-4.active
                a(href="/") Home
              li.medium-4
                a(href="/about-us") About Me
              li.medium-4
                a(href="/sandbox") My Sandbox