script(src="bower_components/foundation/js/vendor/fastclick.js")
script(src="bower_components/foundation/js/vendor/jquery.js")
script(src="bower_components/foundation/js/vendor/jquery.cookie.js")
script(src="bower_components/foundation/js/vendor/placeholder.js")
script(src="bower_components/foundation/js/foundation.js")
script(src="/javascripts/main.js")
