div
  .footer-wrapper
  #footer
    div.row
      .small-12.medium-12.large-12.columns
        section
          h2 Footer Content
          p
            |  Lorem ipsum dolor sit amet, ei pri amet eros rebum, et dolor perfecto eloquentiam eos. Vim at posse populo, natum primis posidonium qui no, ex vis natum aeterno tibique. Eum scaevola menandri platonem ei. Est tale apeirian no, at pro placerat facilisis. Te qui esse homero discere. Ut prompta eligendi qui, sed cibo velit audiam ad, nonumes evertitur vix ne.
            |  Vim ex sonet noluisse abhorreant, te idque integre est. Et vocent eleifend sed, quo eu harum voluptua comprehensam. At his dolorem explicari. Ut ludus possim conceptam nec, te vel patrioque abhorreant. Solet civibus laboramus duo ne. An eam vidit vituperatoribus, nam amet vocent dolorum ne. Te tibique phaedrum instructior sed, populo detracto lobortis at sit.
        section.row#feedback-form
          div.small-12.medium-12.large-7
            form(name="suggestionsForm")
              div.row
                div.small-12.large-6.medium-12.columns
                  input#contact-name(type="text", name="name-field", placeholder="Name")
                div.small-12.large-6.medium-12.columns
                  input#contact-email(type="email", name="email-field", placeholder="Email")
              div.row
                div.small-12.medium-12.large-12.columns
                  textarea#contact-message(name="message-field", placeholder="Message")
              div.small-12.medium-12.large-12.button-group.clearfix
                a.small-12.medium-6.large-6.button.right(href="#") Send
                a.small-12.medium-6.large-6.button.secondary.left(href="#") Reset
        section.row
          div.small-12.medium-5.large-5.columns
      hr
    .row.display
      .small-6.small-centered.large-centered.columns
        a.small-3.partners-logo(href="http://www.slalom.com", target="_blank")
          img(src='/images/slalom-logo.png')
        a.small-3.partners-logo(href="http://www.citizenschools.org", target="_blank")
          img.logo(src='/images/cs-logo.png')