extends layout

block content
  .row
    .small-12.medium-12.large-12.columns
      div
        h1 
          span.blue Think it. 
          span.yellow Build it. 
          span.fuchsia Deploy It.
        p
          |  Lorem ipsum dolor sit amet, ei pri amet eros rebum, et dolor perfecto eloquentiam eos. Vim at posse populo, natum primis posidonium qui no, ex vis natum aeterno tibique. Eum scaevola menandri platonem ei. Est tale apeirian no, at pro placerat facilisis. Te qui esse homero discere. Ut prompta eligendi qui, sed cibo velit audiam ad, nonumes evertitur vix ne.
          |  Vim ex sonet noluisse abhorreant, te idque integre est. Et vocent eleifend sed, quo eu harum voluptua comprehensam. At his dolorem explicari. Ut ludus possim conceptam nec, te vel patrioque abhorreant. Solet civibus laboramus duo ne. An eam vidit vituperatoribus, nam amet vocent dolorum ne. Te tibique phaedrum instructior sed, populo detracto lobortis at sit.

        p
          |  22 Lorem ipsum dolor sit amet, ei pri amet eros rebum, et dolor perfecto eloquentiam eos. Vim at posse populo, natum primis posidonium qui no, ex vis natum aeterno tibique. Eum scaevola menandri platonem ei. Est tale apeirian no, at pro placerat facilisis. Te qui esse homero discere. Ut prompta eligendi qui, sed cibo velit audiam ad, nonumes evertitur vix ne.
          |  Vim ex sonet noluisse abhorreant, te idque integre est. Et vocent eleifend sed, quo eu harum voluptua comprehensam. At his dolorem explicari. Ut ludus possim conceptam nec, te vel patrioque abhorreant. Solet civibus laboramus duo ne. An eam vidit vituperatoribus, nam amet vocent dolorum ne. Te tibique phaedrum instructior sed, populo detracto lobortis at sit.