extends layout

block content
  .row
    .small-12.medium-12.large-12.columns
      div
        h1 
          span.blue Think it. 
          span.yellow Build it. 
          span.fuchsia Deploy It.
        p
          |  The primary goal of the "Think It, Build It, Deploy It" apprenticeship is to develop our young engineers, designers and business strategy/marketing team members in the process of software design and development. We moved from simply being a consumer of the web, to being creators of the web and all other mediums. During this 10-week apprenticeship we learned JADE, HTML, SASS, CSS, College Preperation, how to incorporate feedback effectively and a feel for how the web works, among other things.
          |  Oh, and lets not forget HACKING! If you want to know more about the apprenticeship please ask and we will be happy to provide additional details. We also developed a prototype of an application we designed to help us with school. You should definitely check it out and ask us for more information about it when you see us!

        p
          |  Working with our Citizen Teachers from Slalom Consulting we also were able to visit Slalom's downtown office in the Prudential Two Building.  We hope that you enjoy our WOW! and look forward to hearing all the great questions you will have for us.  Remember to checkout all of our cool stations and our prototype, we worked really hard and cant wait to show it off.
          |  Also, if you take a look at the bottom of your browser you will see a feedback form, as mentioned above feedback is always appreciated and we are so excited you were able to attend our WOW Presentation today!